<h2>Welcome! Lets play Blackjack!</h2>

<form action='/new_player' method="post">
	name: <input type='text' name='player_name'>
	<br>
	<input type='submit' value='Submit' class='btn btn-danger'>
</form>